.header{
    display: flex;
    justify-content: space-between;

}
.logo{
    width: 10rem;
    height: 3rem;
}
 
.header-menue{
    list-style: none;
    display: flex ;
    gap: 2rem;
    color: white;

}
.header-menue>li:hover{
    color: orange;
    cursor: pointer;
}
@media screen and (max-width: 768px){
    .header>:nth-child(2){
        position: fixed;
        right: 2rem;
        z-index: 99;
    }
    .header-menue{
        flex-direction: column;
        background-color: var(--appColor)
        ;
        padding: 2rem;

    }
}